@charset"UTF-8";

/**
 *	name: 	style.css (start)
 *	author:	Barbara Bothe - http://barbara-bothe.de
 *	date: 	21.11.2017
 *	use: 	Slate 1.2 - Template for gpEasy 2.4+
 */

@import url("../page/style.css");

/*--- NAVIGATION ---*/

nav{padding:10px;width:auto !important;display:none;position: absolute; top:-5px;right:40px;text-align:right;}
nav ul{list-style:none;margin-bottom:0;}
nav ul li{border:none;margin:3px 0;}
nav ul li ul {
	background:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	text-align:right;
}
nav ul li {
	float:none;
	font-size:1em;
}
nav ul li ul {
	display:block;
	position:relative;
	left:auto;
	right:10px;
	top:0;
	min-width:120px;
	max-width:180px;
}
nav ul li ul li {
	margin:0;
	font-size:.9em;
}
nav ul li a,
nav ul li ul li a {
	text-decoration:none;
	padding:5px;
	color:#d6d6d6;
	border-bottom: 1px solid transparent;
}
nav ul li a:hover,
nav ul li ul li a:hover,
nav ul li a.selected,
nav ul li ul li a.selected{
	background:none;
	color:#fff;
	border-color:#fff;
	text-decoration: none;
}
button.nav-toggle {
	display:block;
	color:#eee;
	background-color: #222;
	border: none;
	opacity: 0.5;       /* modern browser */
    -moz-opacity: 0.5;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 in Standard Compliant Mode */
    filter:alpha(opacity=50); /* IE5.x -7.0 */
}
button.nav-toggle:hover,
button.nav-toggle:active,
button.nav-toggle:focus {
	color:#fff;
	opacity: 1;       /* modern browser */
    -moz-opacity: 1;  /* older Mozilla browser */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; /* IE8 in Standard Compliant Mode */
    filter:alpha(opacity=100); /* IE5.x -7.0 */
}

/*---HEADER SECTIONS---*/
.header{
	height: 500px;
	text-align:center;}
header{padding:9em 12px 12px;text-align:center;border-bottom:none;}
header h1{font-size:2em;line-height:1em;margin-top:0;font-weight:100;}
.arrow-down {
	display: block;
	width: 55px;
	height: 55px;
	background: url('../img/arr_down_off.png') no-repeat;
}
.arrow-down:hover {
	background: url('../img/arr_down_on.png') no-repeat;
}

/*-------------------------------------*\
  MEDIA QUERIES
\*-------------------------------------*/

@media screen and (min-width:769px) {
	.wrap{width:90%;max-width:1140px;margin:0 auto;position:relative;}
	.header{
		height:550px;
	}
	header h1{font-size:3.2em;line-height:2em;margin-bottom:0;}

	#content{width:90%;}
	.contactform{width:60%;}
	.contactform label span.title {
		width: 30%;
	}
	.contactform input {
    	float: left;
		width: 70%;
	}
	.contactform input.submit {
   		width: auto;
	}
}
